/* Motyw zimowo-niebieski */

/* CSS 1 (wiekszosc) */

body		{
			/*font-family: sans-serif, serif, arial;*/
			background-color: #87CEEB;
			color: black;
			text-align: justify;
		}

a:link		{
			background-color: inherit;
			color: blue;
			text-transform: none;
			text-decoration: underline;
			font-weight: bold;
		}

a:visited	{
			background-color: inherit;
			color: #006000;
			text-transform: none;
			text-decoration: underline;
			font-weight: bold;
		}

A:active	{
			background-color: inherit;
			color: yellow;
		}

pre		{
/* 			font-family: monospace, "courier new", courier; */
			background-color: #D0FFFF;
			color: black;
		}

code, kbd	{
/* 			font-family: monospace, "courier new", courier; */
			background-color: #A0EEEE;
			color: black;
		}


/* Bez ramek naokolo obrazkow */
img		{	border-style: none;		}
/* Ale sa takie, co chca miec ramke */
img.ramka	{
			border-style: solid;
			border-color: blue;
		}

/* Graficzne zaznaczenie skrotow */
acronym, abbr	{
			border-bottom: 1px dotted black;
			cursor:	help; 		/* CSS 2 */
		}

/* Informacja istotna */
.wazne		{
			/*text-transform: uppercase;*/
			text-decoration: underline;
			font-weight: bold;
			font-style: normal;
		}

.b		{	font-weight: bold;		}

.u		{	text-decoration: underline;	}

.c		{	text-align: center;		}

.r		{	text-align: right;		}

.l		{	text-align: left;		}

ul, ol, li	{	list-style-position: outside;	}

ul		{	list-style-type: disc;		}
ul ul		{	list-style-type: square;	}
ul ul ul	{	list-style-type: circle;	}

ol		{	list-style-type: decimal;	}

ol.rom		{	list-style-type: upper-roman;	}

ol.alfa		{	list-style-type: lower-alpha;	}

/* Naglowek w rozdziale */
.nag		{
			font-size: 200%;
			text-align: center;
			font-weight: normal;
		}

/* Tabela, jej naglowki i komorki maja byc z brzegami */
table		{
 			width: 100%;
			border-style: solid;
			border-width: 1px;
			border-color: gray gray gray gray;
		}

caption		{
			text-align: center;
			font-weight: bold;
			font-size: 150%;
		}

th		{
			border-style: solid;
			border-width: 1px;
			border-color: gray gray gray gray;
			text-align: center;
		}

td		{
			border-style: solid;
			border-width: 1px;
			border-color: gray gray gray gray;
		}

td.numpad	{
			color: black;
			background-color: yellow;
		}

/* Linie przerwy miedzy wierszami tabeli beda wyswietlane tylko przez przegladarki tekstowe */
td hr		{	display: none;			}
td .niewidTD	{	display: none;			}

/* Wynik wyszukiwania: */
.traf		{
			color: black;
			font-weight: bold;
			background-color: yellow;
		}

/* Cos, co ma byc umieszczone po lewej stronie ekranu */
.lewa		{	float: left;			}
/* Cos, co ma byc umieszczone po prawej stronie ekranu */
.prawa		{	float: right;			}

/* =============================================================== */
/* CSS 2 */
@media print {

/* Druk tylko czarno-bialy, na wszelki wypadek */
  body		{
			text-align: justify;
			background-color: white;
			color: black;
		}

  a:link, a:visited, a:active
		{
			background-color: white;
			color: black;
			text-transform: none;
			text-decoration: underline;
			font-weight: bold;
		}

  pre		{
  			background-color: white;
			color: black;
  			border: solid 1px black;
  		}

  code, kbd	{
/* 			font-family: monospace, "courier new", courier; */
			background-color: white;
			color: black;
		}


/* nie bedziemy drukowac linkow przeskakujacych ani nawigacyjnych */
  .bezdruk	{	display: none;			}

/* Skroty juz nie beda podkreslone, bo i po co */
  acronym, abbr	{	border-bottom: none;		}

/* Zeby nie bylo tak, ze naglowek jest na samym dnie strony jako ostatni napis.
   Niestety, ze wzgledu na naglowek poczatkowy strony, nie mozna dac 'page-break-before: always' */
  .nag		{	page-break-after: avoid;	}

  tr		{	page-break-inside: avoid;	}

  td		{	page-break-inside: avoid;	}
/* nie bedziemy drukowac linii */
  hr		{	display: none;			}
/* nie bedziemy drukowac obrazkow */
  img		{	display: none;			}

  td.numpad	{
			color: black;
			background-color: white;
		}

}

@media aural {

/* bezpieczne domyslne wartosci, ale nie ustawiam voice-family */
  body		{
  			pitch-range: 50;
  			volume: soft;
  			speak: normal;
  			speech-rate: medium;
  			pitch: medium;
  			richness: 50;
  			speak-punctuation: none;
  			speak-numeral: continuous;
  		}

/* skroty mowione litera po literze */
  acronym	{	speak: spell-out;		}

/* przy czytaniu kazdej komorki tabeli czytany jest wlasciwy naglowek */
  table, td	{	speak-header: always;		}

/* Informacje wazne troche glosniej i z naciskiem */
  .wazne	{
  			pitch: medium;
  			stress: 90;
  			richness: 90;
  			volume: medium;
		}

/* naglowki glosniej */
  .nag		{	volume: loud;			}

/* nie bedziemy wymawiac linii */
  hr		{
  			speak: none;
  			display: none;
  		}

  pre,code,kbd	{	speak-punctuation: code;	}


}

